.sideBar {
  height: 100%;
  width: 10%; 
  position: fixed;
  z-index: 1;
  background-color: #ddd; 
  padding-top: 20px;
  margin-left: 0px;
}

.infoSection {
  background-color: #ebe;
  margin-left: 10%;
  padding-left: 1%;
  height: 100%%;
  width: 100%;
/*   position: fixed; */
}

.gameSection {
  background-color: #eee;
  margin-left: 10%;
  padding-left: 1%;
  height: 100%;
  width: 100%;
  position: fixed;  
}

.gameSection td {
  border: 1px solid #ddd;
  padding: 8px 13px 8px 13px; 
}

.healthBar {
  margin-left: 160px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  
}

