body {
  margin: 0;
}

.sideBar {
  height: 100%;
  width: 10%; 
  position: fixed;
  z-index: 1;
  background-color: #ddd; 
  padding-top: 20px;
  margin-left: 0px;
}

.infoSection {
  background-color: #ebe;
  margin-left: 10%;
  padding-left: 1%;
  height: 100%;
}

.gameSection {
  background-color: #eee;
  margin-left: 10%;
  padding-left: 1%;
  padding-top: 1%;
  height: 100%;
  width: 100%;
  position: fixed;  
}

.gameSection td {
  border: 2px solid #ddd;
  padding: 5px 7px 5px 13px;
  width: 16px;
  height: 26px;
}

.healthBar {
  margin-left: 10%;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  border: 1px solid black;  
}

.header {
  text-decoration: underline;
  font-size: 12px;
  text-align: center;
  margin: 3px 0px 3px 0px;  
}

.tabs {
  margin-left: 10%;  
  background-color: #bbb;
}

.tabs button {
  margin: 5px 5px 0px 5px;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  border: 2px black solid;
  border-bottom: none;

}

.tabs button:hover {
  background-color: grey;
}

#toolTip { 
  text-align: right;
  color: rgba(0, 200, 0, 1);
  position: fixed;
  font-weight: bolder;
}
